
<div class="container">
  <h2>Destination</h2>
  <form ng-submit="addDestination()">
    <div class="form-group">
      <label class="control-label col-sm-2">Destination Name:</label>
      <input type="text" class="form-control" ng-model="destinationName">
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Description:</label>
      <input type="text" class="form-control" ng-model="description">
    </div>
      <div style="position:relative;">
    		<a class='btn btn-primary' href='javascript:;'>
    			Choose MapPhoto...
    			<input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'ngf-select ng-model="mapfile" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="0.3MB" ng-change="submitMap()">
    		</a>
    		&nbsp;
    		<span class='label label-info' id="upload-file-info"></span>
        <br><br>
        <img style="width:200px;" ng-show="mapfile" ngf-thumbnail="mapfile"/>
    </div>
    <br><br>
    <div style="position:relative;">
        <a class='btn btn-primary' href='javascript:;'>
          Choose MainPhoto...
          <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'ngf-select ng-model="mainfile" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="0.3MB" ng-change="submitMain()">
        </a>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
        <br><br>
        <img style="width:200px;" ng-show="mainfile" ngf-thumbnail="mainfile"/>
    </div>
    <br><br>
    <div style="position:relative;">
      <a class='btn btn-primary' href='javascript:;'>
        Select files...
        <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());' ng-model="files" accept="image/*" ngf-multiple="true" ngf-select="uploadFiles()">
      </a>
      &nbsp;
      <span class='label label-info' id="upload-file-info"></span>
      <br><br>
      Files:
      <ul>
        <li ng-repeat="f in files" style="font:smaller">
            <img style="width:200px;" ng-show="f" ngf-thumbnail="f"/>
            {{f.name}}
        </li>
      </ul>
    </div>
    <br><br>
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
</div>