
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-repeat="destination in destinations" ng-click="selectTab($index)" ng-class="{'active':selectedTab == $index}">
            <a data-target="#{{destination._id}}" aria-controls="home" role="tab" data-toggle="tab">{{destination.destinationName}}</a>
        </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="{{destination._id}}">
          <h3>{{destinations[selectedTab].destinationName}}</h3>
          <h3>Content:- {{destinations[selectedTab].description}}</h3>
          <div>          
            <img src="{{destinations[selectedTab].mainPhoto}}" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
          </div>
          <div>
            <img src="{{destinations[selectedTab].mapPhoto}}" class="img-thumbnail" alt="Cinque Terre" width="304" height="236"> 
          </div>
      </div>
    </div>
  </div>